<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body class="relative">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 sm:-translate-y-1/2 bg-image -z-10 w-xs h-1/2 sm:size-3/4"></div>
    <div class="flex flex-col items-center justify-center h-1/2">
            <h1 class="text-2xl font-semibold text-white">Something went wrong</h1>
            <p class="text-zinc-300"><%= message %></p>
            <a href="/" class="btn btn-primary mt-4">Go Home</a>
    </div>
</body>
</html>