<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="w-8/10 mx-auto">
      <a href="/create-message" class="flex items-center gap-2 btn btn-secondary"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"
          />
        </svg>
        Create</a
      >
      <a href="/log-out">Log out</a>
      <div class="grid grid-cols-1 gap-8 max-w-lg mx-auto">
      <% messages.forEach(message => { %>
        <div class="px-4 py-8 border-b-1 border-b-zinc-400">
            <!-- TODO getAllUsers and pass to index, display initials as avatar -->
            <h3 class="text-zinc-50 font-semibold"><%= message.title %></h3>
            <div class="flex">
                <img src="/images/avatar.svg" alt="face icon" aria-hidden="true">
                <span><%= message.created_at %></span> <!-- TODO format this using a library-->
            </div>
            <p class="text-zinc-500"><%= message.body_text %></p>
        </div>
      <% }); %>
    </div>
    </div>
  </body>
</html>
